<div class="row">
  <div class="mb-5">
    <span>Atributo:</span>
    <select
      class="form-select form-select-sm"
      (change)="handleChangeSelect($event)"
    >
      <ng-container *ngFor="let option of options">
        <option [value]="option.value">{{ option.label }}</option>
      </ng-container>
    </select>
  </div>
</div>

<!-- <ng-container *ngIf="chartTitle !== '0'"> -->
<div class="row d-flex justify-content-center">
  <div>
    <ng-container #outlet></ng-container>
  </div>
</div>
<!-- </ng-container> -->

<ng-template #luminariesChart>
  <app-luminaries-chart
    [data]="chartData"
    [title]="chartTitle"
    [totalLuminaries]="totalLuminaries"
  ></app-luminaries-chart>
</ng-template>
