.container {
  width: 27.5%;
  height: 100vh;
  background-color: #fff;
  color: #4f4f4f;
  font-size: 0.875rem;
  padding: 1rem;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
}

.outlet-container {
  height: 90%;
}
